


:root{
  --primary-color:  #374151 ;
  --dark-pink:  #EF4444;
  --border-color: rgb(146, 146, 146);

}
.mainDiv
{
  margin: 18rem 0rem 25rem 0rem;
  box-shadow: 5px 5px 25px -5px #374151;
  display: inline-block;
  width: 25%;
  height: 80vh;
  border-radius: 15px;
   
}
.input
{
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid grey;
  padding: 4px;
  width: 60%;
  position: relative;
  top:2rem;
  left:-1rem
}
.textarea
{
  border: none;
  outline: none;
  position: relative;
  top:5rem;
 background: transparent;
 left:-13px;
  width:60%;
  height: 60%;
}
.buttonTodo
{
  position: relative;
  left: 1rem;
  top: 4rem;
}
.buttonPublish
{
  position: relative;
  left: 0.5rem;
  top: 20rem;
  color: ivory;
  background-color: #8e4785;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  font-size: 16px;
  padding: 6px;
}
.buttonPublish:hover{
  background-color: #d8bfd8;
  color: #8e4785
}
.noteList
{
  position: relative;
  top:6rem;
  left: 8rem
}
.listItem
{
  list-style: none;
  font-family: Handlee;
  font-size: 22px;
}
.listDiv
{
  position: relative;
  left: -180px;
  top:-50px
}
.deleteIcon
{
color: red;
font-size: 16px;
position: absolute;
left: 300px;
cursor: pointer;
}
.doneCheck
{
  color: green;
  font-size: 16px;
  position: absolute;
  left: 330px;
  cursor: pointer;
}
.App
{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.buttonDiv
{
position: relative;
top:15rem;
left: 20rem;
}
.listStyle
{
  list-style: none;
  font-size: 15px;
  position: relative;
  top:50px;
 
  display: block;
}
.listHeading
{
  font-size: 18px;
 

}
.socialMedia
{
  display: flex;
   flex-direction: row ;
   color: white;
   padding-left: 40px; 
   position: relative;
  
}
.footerDiv
{
  position:relative;
     top:257px;
     left:-50px
}
.addIcon
{
  color: var(--dark-pink);
  font-size: 25px;
  position: relative;
  top: 37px;
  left: 5px;
  cursor: pointer;
  
}
.headingTodo
{
  background-color: var(--dark-pink);
  color: white;
border-radius: 4px;
font-family: Merinda;
}
.addNoteDiv
{
  position: relative;
  top: 10px
}
.headingNote
{
background-color: #8e4785;
color: ivory;
border-radius: 4px;
font-family:Merinda ;
}
.headingSavedNote
{
  color:var(--dark-pink);
  font-family:Merinda ;
}
.viewNotes
{
  position: relative;
  top:-60px
}
.noteContent
{
  font-family: cursive;
  font-size: 16px;
}
body{
  overflow: hidden;
}
@media all and (max-width: 361px)
{
  .App
  {
    height: 700px;
  }
  .mainDiv
{
  min-width: 20rem;
  position: relative;
 left: 1.5rem;
}
.buttonDiv
{
position: relative;
top:15rem;
left: 16.5rem;
display: flex;
flex-direction: row;
}
.footerDiv
{
  position: relative;
  left: -7rem;
  min-width: 60%;
}
.footerHeadingMobile
{
 margin-left: 2rem;
left: 20px
}
.socialMobileDiv
{
 margin-left: -30rem;
 margin-top:4rem;
}
.socialMediaHeading
{
  margin-left: -35rem;
  position: relative;
  left: 20px
}
}