


:root{
  --primary-color:  #374151 ;
  --dark-pink:  #EF4444;
  --border-color: rgb(146, 146, 146);

}
.mainDiv
{
 position: absolute;
 left: 35rem;
 top: 1rem;
  box-shadow: 5px 5px 25px -5px #374151;
  display: inline-block;
  width: 45vh;
  height: 80vh;
  border-radius: 15px;
  overflow-y: auto;
  overflow-x: hidden;

}
.input
{
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid grey;
  padding: 4px;
  width: 60%;
  position: relative;
  top:2rem;
  left:-1rem
}
.textarea
{
  border: none;
  outline: none;
  position: relative;
  top:5rem;
 background: transparent;
 left:-13px;
  width:60%;
  height: 60%;
}
.buttonTodo
{
  position: relative;
  left: 1rem;
  top: 4rem;
}
.buttonPublish
{
  position: relative;
  left: 0.5rem;
  top: 20rem;
  color: ivory;
  background-color: #8e4785;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  font-size: 16px;
  padding: 6px;
}
.buttonPublish:hover{
  background-color: #d8bfd8;
  color: #8e4785
}
.noteList
{
  position: relative;
  top:6rem;
  left: 8rem
}
.listItem
{
  list-style: none;
  font-family: Handlee;
  font-size: 22px;
  word-wrap: break-word;
  position: relative;
  left: 15px;
}
.listDiv
{
  position: relative;
  left: -180px;
  top:-50px
}
.deleteIcon
{
color: red;
font-size: 16px;
position: absolute;
left: 250px;
cursor: pointer;
}
.doneCheck
{
  color: green;
  font-size: 16px;
  position: absolute;
  left: 280px;
  cursor: pointer;
}
.App
{
  width: 230vh;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.buttonDiv
{
position: relative;
top:16rem;
left: -3rem;
}
.listStyle
{
  list-style: none;
  font-size: 15px;
  position: relative;
  top:50px;
 
  display: block;
}
.listHeading
{
  font-size: 18px;
  word-wrap: break-word;

}
.socialMedia
{
  display: flex;
   flex-direction: row ;
   color: white;
   padding-left: 40px; 
   position: relative;
  left:-1.5rem
}
.socialMediaDiv
{
  position:absolute;
   top:4rem;
  left:22rem
}
.footerDiv
{
  position:relative;
     top:13rem;
     left:-3rem
}
.addIcon
{
  color: var(--dark-pink);
  font-size: 25px;
  position: relative;
  top: 37px;
  left: 5px;
  cursor: pointer;
  
}
.headingTodo
{
  background-color: var(--dark-pink);
  color: white;
border-radius: 4px;
font-family: Merinda;
}
.addNoteDiv
{
  position: relative;
  top: 10px
}
.headingNote
{
background-color: #8e4785;
color: ivory;
border-radius: 4px;
font-family:Merinda ;
}
.headingSavedNote
{
  color:var(--dark-pink);
  font-family:Merinda ;
}
.viewNotes
{
  position: relative;
  top:-60px
}
.noteContent
{
  font-family: cursive;
  font-size: 16px;
  word-wrap: break-word;
}
body{
  overflow: hidden;
}

/* @media all and ( max-width: 413px)
{
  .socialMediaDiv
  {
    position:relative;
     top:3rem;
    left:0rem
  }
}
@media all and ( max-width: 353px)
{
  .socialMediaDiv
  {
    position:relative;
     top:0.5rem;
    left:10rem
  }
}
@media all and ( max-width: 318px)
{
  .mainDiv
{
 position: absolute;
 left: 30rem;
 top: 2rem;
}
.buttonDiv
{
position: relative;
top:18rem;
left: 23rem;
}
.footerDiv
{
  position:relative;
     top:18rem;
     left:22rem
}
}
@media all and ( max-width: 267px)
{
  .mainDiv
  {
   position: absolute;
   left: 23rem;
   top: 2rem;
  }
  .buttonDiv
{
position: relative;
top:18rem;
left: 16rem;
}
.footerDiv
{
  position:relative;
     top:18rem;
     left:15rem
}
}
@media all and ( max-width: 235px)
{
  .mainDiv
  {
   position: absolute;
   left: 19rem;
   top: 2rem;
  }
  .buttonDiv
{
position: relative;
top:18rem;
left: 12rem;
}
.footerDiv
{
  position:relative;
     top:18rem;
     left:11rem
}
}
@media all and ( max-width: 200px)
{
  .mainDiv
  {
   position: absolute;
   left: 15rem;
   top: 2rem;
  }
  .buttonDiv
{
position: relative;
top:18rem;
left: 8rem;
}
.footerDiv
{
  position:relative;
     top:18rem;
     
     left:7rem
}
.socialMediaDiv
  {
    position:relative;
     top:0.5rem;
    left:5rem
  }
} */